*{
    margin:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border :border-box;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    height:60px;
    background-color: rgb(8, 28, 72);
    display:flex;
    justify-content:space-between;
    align-items:center;
}
a{
    text-decoration: none;
    color:white;
}
.port{
    color:beige;
    margin-left:40px;
    font-size: 30px;
}
.logo{
    display:flex;
    align-items:center;
    justify-content: center;
    padding-bottom:4px;
}
.port-items{
  display:flex;
gap:30px;
margin-right:20px;
}
.port-items a{
    text-decoration:none;
    color:beige;
   
}
#home{
    height:400px;
    background-color:rgb(130, 169, 210);
display:flex;
flex-direction: column;
justify-content:center;
align-items:flex-start;
}
.content{
    padding-left:50px;
}
.content h4{
    font-size:20px;
}
.content h1{
    font-size:60px;
}
.content p{
    font-size:18px;
    padding-left:120px;
}
#about{
    background-color: rgb(58, 128, 202);
    font-size:50px;
    height:300px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:space-between;
    padding:20px 60px 20px 60px;
}
#about p{
    font-size:18px;
    margin:10px;
}
#education{
    height:300px;
    background-color: rgb(33, 143, 233);
    
    font-size:50px;
    display:flex;
    flex-direction:column;
    justify-items:center;
    align-items:flex-start;
    padding:20px;
}
.grad{
    margin:15px;
    padding-left:40px;
    display:flex;
    justify-content:center;
    font-size:15px;
}
#skills{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    background-color: rgb(58, 128, 202);
}
.box{
    height:400px;
    width:45%;
    background-color: rgb(8, 28, 72);
    border:1px solid white;
    border-radius:4px;
    padding:20px 0px 15px;
    margin-bottom:20px;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.box h2{
    padding:7px;
}
.box div{
    padding:17px 17px 17px 17px;

}


