*{
    margin:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border :border-box;
}
.navbar{
    height:50px;
    background-color: rgb(12, 67, 67);
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.port{
    color:white;
    margin-left:40px;
    font-size: 30px;
}
.logo{
    display:flex;
    align-items:center;
    justify-content: center;
    padding-bottom:4px;
}
.port-items{
  display:flex;
gap:30px;
margin-right:20px;
}
.port-items a{
    text-decoration:none;
    color:white;
   
}


