  * {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: border-box;
}

html {
    scroll-behavior: smooth;
}
header{
    position: sticky;
    z-index: 1000;
    top:0;
}
.navbar {
    height: 60px;
    background-color: rgb(8, 28, 72);
    color: beige;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.port {
    font-size: 30px;
    padding-left: 10%;
}

.nav-items {
    padding-right: 10%;
}

.nav-items ul {
    display: flex;
    list-style: none;
    gap: 60px;
}

.nav-items a:hover {
    color: rgb(150, 173, 224);
}

.nav-items a {
    text-decoration: none;
    position: relative;
    color: beige;
    font-size: 20px;
}

.tooltip {
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    font-size: 13px;
    margin-top: 12px;
    opacity: 0;
    transition: 0.3s ease;
    transform: translateX(-50%);
    pointer-events: none;
}

.nav-items a:hover .tooltip {
    opacity: 1;
}

section {
    scroll-margin-top: 80px;
}

#home {
    height: 400px;
    background-color: rgb(130, 169, 210);
    color: beige;
    display: flex;
}

#hom {
    color: rgb(8, 28, 72);
    position: absolute;
    top: 13%;
    font-size: 14px;
    padding-bottom: 19%;
    padding: 10px;
    text-decoration: rgb(8, 28, 72) solid underline;
}

.content {
    width: 50%;
    display: flex;
    padding-left: 13%;
    color: beige;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.content p {
    font-size: 20px;
    line-height: 1.8;
    flex-wrap: wrap;
}

.name {
    font-size: 35px;
    font-weight: bold;
    color: rgba(8, 28, 72, 0.7);
}

.hero-img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid rgba(8, 28, 72, 0.3);

}

#about {
    background-color: rgb(130, 169, 210);
    /* height:200px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#about div {
    margin: 15px;
}

.spn {
    font-size: 35px;
    font-weight: bold;
    color: rgb(8, 28, 72);
    text-decoration: 1px solid rgb(8, 28, 72) underline;
    margin-top: 10px;
}

#about p {
    gap: 5px;
    margin: 20px;
    padding: 0px 70px 0 70px;
    font-size: 18px;
    color: rgb(8, 28, 72);
}

#education {
    height: 450px;
    background-color: rgb(130, 169, 210);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.grad {
    background-color: rgb(8, 28, 72);
    color: beige;
    height: 80px;
    width: 80%;
    margin: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 19px 10px 10px 30px;
    font-size: 20px;
}

.grad p {
    font-size: 18px;
    padding-top: 10px;
}

.grad span {
    color: beige;
    font-size: 13px;
    padding-top: 5px;
}
.grad:hover{
     overflow: hidden;
    transform: scale(1.05);
    transition: 0.3s ease;
}

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(130, 169, 210);
    padding:20px;
}

.box {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin:20px;
}

.skill {
    height: 400px;
    width: 35%;
    background-color: rgb(8, 28, 72);
    color: beige;
    margin: 40px 20px 10px 20px;
    padding: 10px;
    display: flex;
    border-radius:4px;
    flex-direction: column;
    align-items: center;
}
.skill h2{
    margin:20px;
}
.list{
    width:70%;
    margin:15px;
    display:flex;
    justify-content: center;
    align-items: space-evenly;
    flex-wrap:wrap;
    gap:20px;
    list-style: none;
}
.dev{
    padding-top:10px;
    margin-top:10px;
}
.dev span{
    padding-top:5px;
}
#box2 li{
    padding:10px;
}
.tool{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap:10px;
    margin:5px;
}
.tool span{ 
    position:static;
    visibility: visible;
    display:block;
    font-size:14px;
    color:beige;
    opacity:1;
}
.list i{
    font-size:60px;
    padding:10px 20px 10px 20px;
}

.skill:hover {
    overflow: hidden;
    transform: scale(1.1);
    transition: 0.3s ease;
}
#projects {
    display: flex;
    flex-direction: column;
    background-color: rgb(130, 169, 210);
}
#projects span{
    margin:20px;
    margin-left:45%;
}
.pro {
    padding:20px;
    margin:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    height: 370px;
    width: 30%;
    background-color: rgb(8, 28, 72);
    margin: 5px;
    padding: 20px 0px 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.card:hover {
    overflow: hidden;
    transform: scale(1.1);
    transition: 0.3s ease;
}

#contact{
    background-color:rgb(130, 169, 210);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#contact p{
    margin:30px;
}
form{
    background-color: rgb(8, 28, 72);
    color:beige;
    width:25%;
    padding:20px;
    border-radius:10%;
}
.input-box{
    margin-top:10px;
    width:100%;
    padding:10px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    
}
form input{
    margin:5px;
    height:24px;
    border:none;
    outline:none;
    width:80%;
    border-radius:4px;
    background: rgb(204, 212, 230);
}
textarea{
    background:transparent;
    width:80%;
    background-color: rgb(204, 212, 230);
    border:none;
    outline:none;
    border-radius:4px;
    margin:5px;
}
button{
    height:40px;
    border-radius:7px;
    border:none;
    outline:none;
    width:90%;
    background-color: rgb(130, 169, 210);
    color:rgb(8, 28, 72);
    font-size:20px;
    font-weight:bold;
    margin:5px;
}
.foot{
    margin-top:20px;
    height:60px;
    width:100%;
    background-color: rgb(8, 28, 72);
}