* {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: border-box;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    height: 60px;
    background-color: rgb(8, 28, 72);
    color: beige;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.port {
    font-size: 30px;
    padding-left: 10%;
}

.nav-items {
    padding-right:10%;
}

.nav-items ul {
    display: flex;
    list-style: none;
    gap: 60px;
}

.nav-items a:hover {
    color: rgb(150, 173, 224);
}

.nav-items a {
    text-decoration: none;
    position: relative;
    color: beige;
    font-size: 20px;
}

.tooltip {
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    font-size: 13px;
    margin-top: 12px;
    opacity: 0;
    transition: 0.3s ease;
    transform: translateX(-50%);
    pointer-events: none;
}

.nav-items a:hover .tooltip {
    opacity: 1;
}

section{
    scroll-margin-top:80px;
}
#home{
    height:400px;
    background-color:rgb(130, 169, 210);
    color:beige;
display:flex;
}
#hom{
    position:absolute;
    top:13%;
    font-size:14px;
    padding-bottom:19%;
    padding:10px;
    text-decoration: white solid underline;
}
.content{
    width:50%; 
    display:flex;
    padding-left:13%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

 .content p 
 .div{
    font-size:15px;
    flex-wrap: wrap;
} 
.hero-img{
    width:50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
img{
    height:200px;
    width:200px;
    /* border-radius:50%; */
    background-image: cover;
}
/*#about{
    background-color: rgb(58, 128, 202);
    font-size:50px;
    height:300px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:space-between;
    padding:20px 60px 20px 60px;
}
#about p{
    font-size:18px;
    margin:10px;
}
#education{
    height:300px;
    background-color: rgb(33, 143, 233);
    
    font-size:50px;
    display:flex;
    flex-direction:column;
    justify-items:center;
    align-items:flex-start;
    padding:20px;
}
.grad{
    margin:15px;
    padding-left:40px;
    display:flex;
    justify-content:center;
    font-size:15px;
}
#skills{
    color:white;
    background-color: rgb(181, 121, 236);
display:flex;
flex-direction:column;
align-items:center;
}
/* .skill{
    padding:10px;
    border-radius:5px; 
    
} */
.head {
    font-size: 60px;
    margin: 7px 0px 30px 0px;
    padding: 7px;
}

.content,
.pro {
    display: flex;
    flex-wrap: wrap;
}

.box {
    height: 350px;
    width: 45%;
    background-color: rgb(8, 28, 72);
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    gap: 7px;
    border-radius: 5px;
}

.box:hover {
    overflow: hidden;
    transform: scale(1.05);
    transition: 0.3s ease;
}

#projects {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}

#projects h1 {
    padding-left: 500px;
    font-size: 60px;
    margin: 20px;
}

.pro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    height: 370px;
    width: 23%;
    background-color: rgb(244, 239, 239);
    margin: 5px;
    padding: 20px 0px 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.card:hover {
    overflow: hidden;
    transform: scale(1.1);
    transition: 0.3s ease;
}

footer {
    background-color: rgb(8, 28, 72);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px;
}

*/